.container{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.desc{
    width: fit-content;
    font-weight: normal;
}
.info{
    font-weight: bold;
    text-decoration: underline;
}
.img{
    border-radius: 50%;
    transition: 0.8s all;
}
